<div class="cookie-layer">
    <div class="cookie-layer__text">
        <p class="display-h1">Datenschutz und Cookies</p>
        <p>Ich nutz</p>
    </div>
    <div class="cookie-layer__checkboxen">

    </div>
    <div class="cookie-layer__selectButton">

    </div>
</div>