<div class="cookie-layer__wrapper">
    <div class="cookie-layer">
        <div class="cookie-layer__text">
            <p class="display-h1">Datenschutz und Cookies</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, </p>
        </div>
        <div class="cookie-layer__checkboxen">
            <div class="checkbox-toggle">
                <input id="analyse" type="checkbox" class="checkbox-toggle__input">
                <label class="checkbox-toggle__label" for="analyse">Analyse</label>
            </div>
            <div class="checkbox-toggle">
                <input id="thirdParty" type="checkbox" class="checkbox-toggle__input">
                <label class="checkbox-toggle__label" for="thirdParty">Drittanbieter Inhalte</label>
            </div>
        </div>
        <div class="cookie-layer__selectButton">
            <button class="cookie-layer__selectButton__selectAll">Alle auswhälen</button>
            <button class="cookie-layer__selectButton__selectSome">Auswahl speichern</button>
        </div>
        <div class="cookie-layer__details">
            <button>Details</button>
            <div class="cookie-layer__details__text">

            </div>
        </div>
    </div>
</div>
