<div id="cookie-layer__wrapper" class="cookie-layer__wrapper hide-it">
    <div class="cookie-layer">
        <div class="cookie-layer__text">
            <p class="display-h1">Datenschutz und Cookies</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, </p>
        </div>
        <div class="cookie-layer__checkboxen">
            <div class="checkbox-toggle">
                <input id="analyse" type="checkbox" class="checkbox-toggle__input">
                <label class="checkbox-toggle__label" for="analyse">Analyse</label>
            </div>
            <div class="checkbox-toggle">
                <input id="thirdParty" type="checkbox" class="checkbox-toggle__input">
                <label class="checkbox-toggle__label" for="thirdParty">Drittanbieter Inhalte</label>
            </div>
        </div>
        <div class="cookie-layer__selectButton">
            <button id="selectAllButton" class="cookie-layer__selectButton__selectAll">Alle auswhälen</button>
            <button id="selectSomeButton" class="cookie-layer__selectButton__selectSome">Auswahl speichern</button>
        </div>
        <div class="cookie-layer__details">
            <button id="details_button">Details</button>
            <div id="details-text" aria-expanded="false" class="cookie-layer__details__text hide-it-details">
                <p class="display-h3">Analyse</p>
                <p>Ich nutze ein Matomo (ehemals Piwik) um Analyse Daten zu bekommen wieviele Menschen meine Seite
                    besuchen und welche Artikel gefragt sind. Das Matomo ist auf vollstände Privatsphäre Einstellung und
                    so weit anonymisiert wie möglich. Ich kann keine rückschlüsse auf Sie oder andere Personen ziehen.
                    Ich verkaufe diese Daten nicht.</p>
                <p class="display-h3">Drittanbieter</p>
                <p>Ich Binde inhalte von Dritten ein. Unter anderem von Youtube, Twitter, Vimeo, Flickr. Diese anbieter
                    nutzen Cookies um Sie über verschiedene Seite zu Tracken.</p>
            </div>
        </div>
    </div>
</div>
