<div id="cookie-layer__wrapper" class="cookie-layer__wrapper hide-it">
    <div class="cookie-layer">
        <div class="cookie-layer__text">
            <p class="display-h1">Datenschutz und Cookies</p>
            <p>Ich versuche den Datenschutz auf meinem Blog hochzuhalten. Dazu zählt auch die Verwendung von Matomo (ehemals Piwik).
                Dieses dient mir zur Analyse wie mit meiner Website interagiert wird. Die Daten liegen bei mir und werden keinen
                Dritten zur verfügung gestellt. Du kannst entscheiden ob daran teilnehmen möchtest. Desweiteren binde ich Inhalt von Dritten ein.
                Dort kansnt du ebenfalls bestimmen ob du daran teilhaben möchtest.</p>
        </div>
        <div class="cookie-layer__checkboxen">
            <div class="checkbox-toggle">
                <input id="analyse" type="checkbox" class="checkbox-toggle__input">
                <label class="checkbox-toggle__label" for="analyse">Analyse</label>
            </div>
            <div class="checkbox-toggle">
                <input id="thirdParty" type="checkbox" class="checkbox-toggle__input">
                <label class="checkbox-toggle__label" for="thirdParty">Drittanbieter Inhalte</label>
            </div>
        </div>
        <div class="cookie-layer__selectButton">
            <button id="selectAllButton" class="cookie-layer__selectButton__selectAll">Alle auswhälen</button>
            <button id="selectSomeButton" class="cookie-layer__selectButton__selectSome">Auswahl speichern</button>
        </div>
        <div class="cookie-layer__details">
            <button id="details_button">Details</button>
            <div id="details-text" aria-expanded="false" class="cookie-layer__details__text hide-it-details">
                <p class="display-h3">Analyse</p>
                <p>Ich nutze ein Matomo (ehemals Piwik) um Analyse Daten zu bekommen wie viele Menschen meine Seite
                    besuchen und welche Artikel gefragt sind. Das Matomo ist auf vollstände Privatsphäre Einstellung und
                    so weit anonymisiert wie möglich. Ich kann keine Rückschlüsse auf Dich oder andere Personen ziehen.
                    Ich verkaufe diese Daten nicht.</p>
                <p class="display-h3">Drittanbieter</p>
                <p>Ich Binde inhalte von Dritten ein. Unter anderem von Youtube, Twitter, Vimeo, Flickr. Diese Anbieter
                    nutzen Cookies um Sie über verschiedene Seite zu Tracken.</p>
            </div>
        </div>
    </div>
</div>
