a {
  &,
  &:visited {
    color: $dark-text-white;
    font-family: $font-helvetica;
    font-size: rem(16px);
    line-height: 1.125;
    text-decoration: none;
    box-shadow: 0 0 0 $dark-pink;
    transition: box-shadow 0.5s ease-in-out;
  }

  &:hover {
    box-shadow: 0 rem(5px) 0 $dark-pink;
  }
}