h1 {
  color: $dark-text-white;
  font-family: $font-helvetica;
  font-size: rem(38px);
  font-weight: bold;
  text-shadow: 0 0 rem(8px) $dark-shadow;

  @include light() {
    color: $light-text-white;
    text-shadow: 0 0 0 $light-shadow;
  }
}

.display-h1 {
  @extend h1;
}