h5 {
  color: $dark-text-white;
  font-family: $font-helvetica;
  font-size: rem(26px);
  font-weight: bold;
  margin: rem(20px) 0;
  padding: 0;
  text-shadow: 0 0 rem(8px) $dark-shadow;

  @include light(){
    color: $light-text-white;
    text-shadow: 0 0 0 $light-shadow;
  }
}

.display-h5 {
  @extend h5;
}