li {
  color: $dark-text-white;
  font-family: $font-helvetica;
  font-size: rem(18px);
  line-height: 1.5;
  margin-bottom: rem(10px);
  padding: 0;

  @include light() {
    color: $light-text-white;
  }

  &::marker {
    color: $dark-pink;

    @include light() {
      color: $light-pink;
    }
  }
}