.kg-bookmark {
  &-card {
    box-shadow: none !important;
  }

  &-container {
    display: flex;
    padding: rem(10px);
    align-items: center;
    flex-wrap: wrap;
    box-shadow: none !important;

    @include mq('phablet') {
      flex-wrap: nowrap;
    }
  }

  &-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: rem(10px);

    order: 2;

    @include mq('phablet') {
      order: 1;
    }
  }

  &-title {
    margin-bottom: rem(15px);
    font-weight: bold;
  }

  &-metadata {
    display: flex;
    align-items: center;
    margin-top: rem(15px);
  }

  &-icon {
    max-width: rem(32px);
    max-height: rem(32px);
    margin-right: rem(10px);
  }

  &-thumbnail {
    order: 1;

    @include mq('phablet') {
      order: 2;
    }
  }

  &-author {
    color: $dark-text-transparent;

    @include light() {
      color: $light-text-transparent;
    }
  }

  &-description {
    color: $dark-text-transparent;

    @include light() {
      color: $light-text-transparent;
    }
  }

  &-publisher {
    color: $dark-text-transparent;

    @include light() {
      color: $light-text-transparent;
    }
  }
}