.kg-gallery {
  &-container {
    display: flex;
    :hover {

      .kg-gallery-image {
        flex-basis: 100%;
      }
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-image {
    margin: rem(10px);
    flex-basis: 35%;
    transition: flex-basis 0.3s ease-in-out;
  }
}