$dark-text-white: rgb(250, 250, 250);
$dark-text-transparent: rgba(250, 250, 250, 0.6);
$dark-shadow: rgba(0, 0, 0, 0.5);
$link-shadow: rgba(54, 195, 227, 0.77);
$dark-background-blue: rgb(26, 33, 51);
$dark-pink: rgb(248, 89, 154);