.content {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;

  &__feed {
    display: flex;
    flex-wrap: wrap;
  }

  &__post {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }
}