.content {
  margin: 0 auto;
  max-width: rem(1040px);
  width: 100%;

  &__feed {
    display: flex;
    flex-wrap: wrap;
  }

  &__post {
    display: flex;
    flex-direction: column;
    max-width: rem(768px);
  }
}