.cookie-layer {
  background: $dark-background-blue;
  border-radius: rem(30px);
  border: rem(4px) solid $dark-pink;
  box-shadow: 0 0 12px $dark-shadow;
  display: flex;
  flex-flow: column;
  height: auto;
  max-width: rem(500px);
  padding: rem(15px);
  z-index: 999;

  @include light() {
    background: $light-background-blue;
    border: rem(4px) solid $light-pink;
    box-shadow: 0 0 12px $light-shadow;
  }

  &__wrapper {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    overflow: scroll;

    @include mq("phone-wide") {
      align-items: center;
    }
  }

  &__checkboxen {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: rem(10px);
    margin-bottom: rem(10px);

    .checkbox-toggle {
      margin-top: rem(10px);
      margin-bottom: rem(10px);
    }

    @include mq("phone-wide") {
      justify-content: space-around;
      flex-flow: row;
    }
  }

  &__selectButton {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: rem(10px);
    margin-bottom: rem(10px);

    button {
      margin-top: rem(10px);
      margin-bottom: rem(10px);
    }

    @include mq("phone-wide") {
      justify-content: space-around;
      flex-flow: row;
    }
  }

  p {
    margin: 0;
  }

  .display-h1 {
    margin: 0;
  }

  &__details__text {
    max-height: rem(1000px);
    overflow: hidden;
    transition: max-height 1s ease-in-out, padding .5s ease-in-out;
    padding-top: rem(10px);
  }
}

.hide-it-details {
  max-height: rem(0px);
  padding: rem(0px);
  transition: max-height 1s ease-in-out, padding .5s ease-in-out;
}

.hide-it {
  display: none;
}
