.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  height: rem(50px);
  background-image: linear-gradient(0deg, $dark-pink 0%, $dark-pink-red 100%);
  background-color: $dark-pink;

  &__logo {
    height: rem(40px);
    width: auto;

    img {
      height: inherit;
      width: inherit;
    }
  }

  &__hamburger {
    height: rem(40px);
    width: auto;
    filter: drop-shadow(0 0 4px rgba(0,0,0,.5));
  }

  &__button {
    background-color: unset;
    color: unset;
    border-radius: 0;
    border: none;
    min-height: 0;
    min-width: 0;
  }
}
