.header {
  align-items: center;
  background: linear-gradient(0deg, rgba(248, 89, 154, 1) 0%, rgba(239, 70, 98, 1) 100%);
  background: rgb(248, 89, 154);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: rem(120px);
  justify-content: space-around;
  box-shadow: 0 0 12px $dark-shadow;

  .nav {
    margin-left: rem(15px);
  }

  &__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  &__hamburger {
    filter: drop-shadow(0 0 4px $dark-shadow);
  }

  &__logo {
    filter: drop-shadow(0 0 4px $dark-shadow);
    display: flex;
    height: 50%;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-around;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: rem(5px);
        margin-left: rem(5px);

        a {
          font-size: rem(22px);
          font-weight: bold;
          text-decoration: none;
          text-shadow: 0 0 4px $dark-shadow;
        }
      }
    }
  }
}