.light-text {
  color: $dark-text-transparent;
  font-family: $font-helvetica;
  font-size: rem(16px);
  line-height: 1;

  @include light(){
    color: $light-text-transparent;
  }

  &--italic {
    font-style: italic;
  }
}