.pagination-post {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(30px);

  @include mq("phone-wide") {
    flex-wrap: nowrap;
  }

  &__next {
    align-items: center;
    border-bottom: 2px solid $dark-text-transparent;
    border-top: 2px solid $dark-text-transparent;
    display: flex;
    flex-flow: row;
    flex: 1;
    margin: 0 rem(15px);

    .pagination-post__icon {
      transform: rotate(180deg);
    }
  }

  &__prev {
    align-items: center;
    border-bottom: 2px solid $dark-text-transparent;
    border-top: 2px solid $dark-text-transparent;
    display: flex;
    flex-flow: row;
    flex: 1;
    margin: 0 rem(15px);
  }

  &__icon {
    display: inline-block;
    height: 32px;
    width: 32px;
  }
}