.post-card {
  background: $dark-background-blue-light;
  border-radius: rem(10px);
  box-shadow: 0 0 4px $dark-shadow;
  display: flex;
  flex-flow: column;
  flex: 1 1 400px;
  margin: rem(15px);

  @include light() {
    background: $light-background-blue-light;
  }

  &__image {
    border-radius: rem(10px);
    border: rem(4px) solid rgb(248, 89, 154);
    object-fit: cover;
    overflow: hidden;

    &--link {
      border-radius: rem(10px);
      display: flex;
      height: rem(300px);
      margin: rem(15px) rem(15px) 0;
      position: relative;
    }
  }

  &__content {
    margin-bottom: rem(15px);
    margin-left: rem(15px);
    margin-right: rem(15px);
  }

  &__byline {
    color: $dark-text-transparent;
    font-size: rem(14px);
    margin-bottom: rem(5px);
    margin-top: rem(5px);

    @include light() {
      color: $light-text-transparent;
    }

    a {
      &,
      &:visited {
        color: $dark-text-transparent;
        font-size: rem(14px);

        @include light() {
          color: $light-text-transparent;
        }
      }
    }
  }

  &__header {
    margin-bottom: rem(5px);
    margin-top: rem(5px);
  }

  &__excerpt {
    margin-bottom: rem(10px);
  }

  &__read-more {
    color: $dark-text-transparent;
    font-size: rem(14px);

    a {
      &,
      &:link,
      &:visited {
        color: $dark-text-transparent;
        font-size: rem(14px);

        @include light() {
          color: $light-text-transparent;
        }
      }
    }
  }
}
